<% provide(:title, 'About Us') %>
<h1>About Us</h1>
        <p> 
			Alex has been printing her recipes out for a while now and collating them in a binder.
			This isn't enough for my lady. The recipes usually aren't of her own creation, but are
			collected from various sources.
        </p>

