<% provide(:title, 'Contact') %>
<h1>Alex's Contact Info</h1>
<p>
	While we normally welcome submissions, comments, and concerns, at this time the contact portion of the site is under work. 
	Please Contact later. 
</p>

