<% provide(:title, 'Help') %>
<h1>Cookbook Help</h1>
		<p>
			This is the help page for the
    		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
			sample application.
			I think there's a newline character I'm missing to make this go on the next line.
		</p>
